<div class="container">
    <form [formGroup]="postForm" (ngSubmit)="delete(postForm.value)">
        <div class="names">
            <div class="id">
                <label>id</label>
                <input type="text" class="form-control" placeholder="id" formControlName="identifier">
            </div>
            <div class="name">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Primer nombre" formControlName="nombre">
            </div>
            <div class="lastName">
                <label>Empleo</label>
                <input type="text" class="form-control" placeholder="Empleo" formControlName="empleo">
            </div>
        </div>
        <div class="buttons">
            <div class="editar">
                <button type="button" class="btn btn-danger" (click)="delete(postForm.value)">Borrar</button>
            </div>
        </div>
    </form>