.container{
    text-align: left;
}
.paginacion{
    width: 100%;
    display: flex;
    justify-content: center;
}
.lista li:hover{    
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
}